VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=cardswipers-6aa66.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=cardswipers-6aa66
VITE_FIREBASE_STORAGE_BUCKET=cardswipers-6aa66.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=233845197468
VITE_FIREBASE_APP_ID=
